[user]
	name = Xenion1987
	email = 39803750+Xenion1987@users.noreply.github.com
	signingkey = ~/.ssh/mrvn_personal.ed25519.pub
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSigners = ~/.ssh/mrvn_personal.ed25519.pub
[commit]
	gpgsign = true
